.sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

.sidebar-header > h2 {
  font-size: 25px;
}

.create {
  padding: 0.5em 1em;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
}

.noteTitle {
  padding: 0.7em 1em;
  text-align: center;
  font-size: 15px;
}

.selected-note {
  text-align: center;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
