.sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
}

.add {
  padding: 0.7em 1em;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.noteTitle {
  padding: 0.7em 1em;
}

.selected-note {
  padding: 0.7em 1em;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}
