.sidebar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

.sidebar-header > h2 {
  font-size: 25px;
}

.create {
  padding: 0.5em 1em;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  cursor: pointer;
}

.noteTitle {
  padding: 0.7em 1em;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.noteTitle .delete {
  visibility: hidden;
}

.noteTitle:hover .delete {
  visibility: visible;
}

.selected-note {
  text-align: center;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .sidebar-header > h2 {
    font-size: 20px;
  }

  .create {
    padding: 0.2em 0.7em;
  }

  .noteTitle {
    padding: 0.2em 0.7em;
    font-size: 10px;
  }

  .delete {
    font-size: 15px;
  }

  .noteTitle .delete {
    visibility: visible;
  }
}
