.wrapper {
  display: flex;
  padding: 3em 0;
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.landing-page > h3 {
  font-size: 40px;
}

.create-first-note {
  padding: 1em 3em;
  background-color: #c227d5;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .landing-page > h3 {
    font-size: 25px;
  }

  .create-first-note {
    padding: 0.7em 2.2em;
  }
}
